@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fw-normal {
  font-family: Poppins, sans-serif;
}

.removeColPadding {
  padding: 0;
}

.header-mini {
  display: flex;
  padding: 16px;
  text-align: center;
}
.header-mini .phone {
  margin-top: 0.6em;
  margin-left: auto;
  flex: 5 4em;
  max-width: 4em;
  min-width: 4em;
}
.header-mini .phone a {
  font-size: 2em;
  color: #333645;
  border-bottom: white solid 2px;
}
.header-mini .phone a:hover {
  color: #1d1f28;
  text-decoration: underline;
  border-bottom: #1d1f28 solid 2px;
}
.header-mini .menu {
  margin-left: 1em;
  flex: 5 4em;
  max-width: 4em;
  min-width: 4em;
}
.header-mini .search {
  margin-top: -16px;
  padding: 0;
  background: #E5E5E5;
  border: #CECECE 3px solid;
  height: 3rem;
  min-width: 0;
}
.header-mini .search input {
  background: none;
  border: none;
  min-width: 0;
}
.header-mini .search button {
  background: none;
  border: none;
}
.header-mini .search button:hover {
  background: none;
}
.header-mini .search button i {
  color: #333645;
  font-size: 1.4rem;
  min-width: 3rem;
}
.header-mini .imgHolder {
  flex: 1 0;
  min-width: 0;
  display: block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
}
.header-mini .imgHolder img {
  display: block;
  margin-right: auto;
  max-width: 100%;
}
.header-mini .imgHolder a {
  margin-right: auto;
  display: block;
}

.menu {
  background: #333645;
  color: white;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  width: 4em;
  height: 3.5em;
  margin-left: 32px;
  border-radius: 0.25em;
}
.menu .menuText {
  margin-top: -0.3em;
  font-size: 0.8em;
  font-weight: 300;
}
.menu:hover {
  background: #1d1f28;
}
.menu .burgerHolder {
  margin-bottom: 0;
}
.menu .burgerHolder .burgerLines {
  display: block;
  width: 55%;
  background: white;
  height: 0.2em;
  margin: 0.3em auto 0 auto;
}

.search {
  margin-top: auto;
  margin-bottom: auto;
  height: 3.5em;
  display: flex;
  flex: 1;
}
.search input {
  padding-left: 8px;
  flex: 1;
  min-width: 8em;
  background: white;
  border: none;
  border: solid 1px #999AA2;
}
@media screen and (min-width: 992px) {
  .search input {
    min-width: 12em;
  }
}
.search input:focus {
  outline: none;
}
.search button {
  color: white;
  min-width: 3.5rem;
  background: #999AA2;
  border: solid 2px #999AA2;
}
.search button i {
  font-size: 1.5em;
}
.search button:hover {
  background: #7e808a;
}

.header-med {
  padding-top: 24px;
  padding-bottom: 24px;
  overflow: hidden;
}
.header-med .logo {
  display: block;
  max-width: 100%;
  height: 3.5rem;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
}
.header-med .logo img {
  max-width: 100%;
  height: 3.5rem;
}
.header-med .actions {
  display: flex;
  padding-left: 40px;
  padding-right: 0;
}
.header-med .actions > * {
  flex: 0 1 auto;
}
.header-med .actions .smallButton {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 4em;
  max-width: 4em;
  height: 3.5em;
  margin-left: 32px;
  border-radius: 0.25em;
}
.header-med .actions .smallButton i {
  font-size: 1.7em;
}
.header-med .actions .medButton {
  margin-top: auto;
  margin-bottom: auto;
  min-width: 9em;
  max-width: 9em;
  flex-basis: 8em;
  height: 3.5em;
  margin-left: 32px;
  border-radius: 0.25em;
  text-align: center;
}
.header-med .actions .medButton i {
  display: inline-block;
  margin-top: 0.9em;
  font-size: 1.2em;
  text-decoration: none;
}
.header-med .actions .phone {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2em;
  margin-left: 16px;
}
.header-med .actions .search {
  margin-bottom: auto;
  overflow: hidden;
  border-radius: 0 3px 3px 0;
}
.header-med .actions .search input {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
  transition: border-color 150ms, box-shadow 150ms;
}
.header-med .actions .search input:focus {
  border-color: #5bc0de;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}
@media screen and (min-width: 768px) {
  .header-med .actions .search {
    max-width: 30em;
  }
}
@media screen and (min-width: 992px) {
  .header-med .actions .search {
    margin-left: 32px;
  }
}
.header-med .actions .searchButton {
  background: #999AA2;
  color: white;
  border: none;
  border-radius: 3px;
}
.header-med .actions .searchButton:hover {
  background: #7e808a;
}
.header-med .actions .contactButton {
  background: #999AA2;
  color: white;
  border: none;
}
.header-med .actions .contactButton:hover {
  background: #7e808a;
}
.header-med .actions .supportButton {
  background: #4183D7;
  color: white;
  border: none;
  margin-left: auto;
}
.header-med .actions .supportButton:hover {
  background: #286abd;
}

.productNavBG {
  background: #333645;
  border-bottom: solid 1px white;
  position: relative;
}
.productNavBG a {
  text-decoration: none;
  color: white;
}
.productNavBG .row {
  border-left: solid 1px #484A58;
  border-right: solid 1px #262834;
}

.productNav {
  text-align: center;
  border-left: solid 1px #484A58;
  border-right: solid 1px #262834;
  padding: 0;
}
.productNav a {
  padding: 1em 0;
  display: block;
}
.productNav i {
  font-size: 1.12em;
  margin-bottom: 0.5em;
}
.productNav h6 {
  font-size: 0.65em;
  font-weight: 400;
}
.productNav h4 {
  line-height: 0.5em;
  font-size: 1.12em;
  margin-top: -0.2em;
}

.prodNav-webdesign {
  border-left: solid 1px #262834;
}

.prodNav-cybersecurity {
  border-right: solid 1px #484A58;
}

.prodNav-bespSoft i {
  color: #67809F;
}
.prodNav-bespSoft:hover {
  background: #67809F;
}
.prodNav-bespSoft:hover i {
  color: white;
}
.prodNav-bespSoft:hover .hoverNavProd {
  text-align: center;
  z-index: 200;
  position: absolute;
  display: block !important;
  background: #5c7391;
  width: 100%;
  left: 0;
}
.prodNav-bespSoft:hover .hoverNavProd .container {
  padding: 4px 8px;
}
.prodNav-bespSoft:hover .hoverNavProd ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prodNav-bespSoft:hover .hoverNavProd li {
  list-style-image: url(data:0);
  font-size: 0.8em;
  float: left;
  letter-spacing: 1px;
}
.prodNav-bespSoft:hover .hoverNavProd li a {
  padding: 8px;
}
.prodNav-bespSoft:hover .hoverNavProd li:not(:last-child) a::after {
  content: "-";
  font-weight: bold;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .prodNav-bespSoft:hover .hoverNavProd li {
    font-size: 1em;
  }
}

.prodNav-itSup i {
  color: #4183D7;
}
.prodNav-itSup:hover {
  background: #4183D7;
}
.prodNav-itSup:hover i {
  color: white;
}
.prodNav-itSup:hover .hoverNavProd {
  text-align: center;
  z-index: 200;
  position: absolute;
  display: block !important;
  background: #2c75d2;
  width: 100%;
  left: 0;
}
.prodNav-itSup:hover .hoverNavProd .container {
  padding: 4px 8px;
}
.prodNav-itSup:hover .hoverNavProd ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prodNav-itSup:hover .hoverNavProd li {
  list-style-image: url(data:0);
  font-size: 0.8em;
  float: left;
  letter-spacing: 1px;
}
.prodNav-itSup:hover .hoverNavProd li a {
  padding: 8px;
}
.prodNav-itSup:hover .hoverNavProd li:not(:last-child) a::after {
  content: "-";
  font-weight: bold;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .prodNav-itSup:hover .hoverNavProd li {
    font-size: 1em;
  }
}

.prodNav-digitalmarketing i {
  color: #2ECC71;
}
.prodNav-digitalmarketing:hover {
  background: #2ECC71;
}
.prodNav-digitalmarketing:hover i {
  color: white;
}
.prodNav-digitalmarketing:hover .hoverNavProd {
  text-align: center;
  z-index: 200;
  position: absolute;
  display: block !important;
  background: #29b765;
  width: 100%;
  left: 0;
}
.prodNav-digitalmarketing:hover .hoverNavProd .container {
  padding: 4px 8px;
}
.prodNav-digitalmarketing:hover .hoverNavProd ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prodNav-digitalmarketing:hover .hoverNavProd li {
  list-style-image: url(data:0);
  font-size: 0.8em;
  float: left;
  letter-spacing: 1px;
}
.prodNav-digitalmarketing:hover .hoverNavProd li a {
  padding: 8px;
}
.prodNav-digitalmarketing:hover .hoverNavProd li:not(:last-child) a::after {
  content: "-";
  font-weight: bold;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .prodNav-digitalmarketing:hover .hoverNavProd li {
    font-size: 1em;
  }
}

.prodNav-telecoms i {
  color: #D64541;
}
.prodNav-telecoms:hover {
  background: #D64541;
}
.prodNav-telecoms:hover i {
  color: white;
}
.prodNav-telecoms:hover .hoverNavProd {
  text-align: center;
  z-index: 200;
  position: absolute;
  display: block !important;
  background: #d1312d;
  width: 100%;
  left: 0;
}
.prodNav-telecoms:hover .hoverNavProd .container {
  padding: 4px 8px;
}
.prodNav-telecoms:hover .hoverNavProd ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prodNav-telecoms:hover .hoverNavProd li {
  list-style-image: url(data:0);
  font-size: 0.8em;
  float: left;
  letter-spacing: 1px;
}
.prodNav-telecoms:hover .hoverNavProd li a {
  padding: 8px;
}
.prodNav-telecoms:hover .hoverNavProd li:not(:last-child) a::after {
  content: "-";
  font-weight: bold;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .prodNav-telecoms:hover .hoverNavProd li {
    font-size: 1em;
  }
}

.prodNav-webdesign i {
  color: #926FB1;
}
.prodNav-webdesign:hover {
  background: #926FB1;
}
.prodNav-webdesign:hover i {
  color: white;
}
.prodNav-webdesign:hover .hoverNavProd {
  text-align: center;
  z-index: 200;
  position: absolute;
  display: block !important;
  background: #855ea8;
  width: 100%;
  left: 0;
}
.prodNav-webdesign:hover .hoverNavProd .container {
  padding: 4px 8px;
}
.prodNav-webdesign:hover .hoverNavProd ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prodNav-webdesign:hover .hoverNavProd li {
  list-style-image: url(data:0);
  font-size: 0.8em;
  float: left;
  letter-spacing: 1px;
}
.prodNav-webdesign:hover .hoverNavProd li a {
  padding: 8px;
}
.prodNav-webdesign:hover .hoverNavProd li:not(:last-child) a::after {
  content: "-";
  font-weight: bold;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .prodNav-webdesign:hover .hoverNavProd li {
    font-size: 1em;
  }
}

.prodNav-cybersecurity i {
  color: #F62459;
}
.prodNav-cybersecurity:hover {
  background: #F62459;
}
.prodNav-cybersecurity:hover i {
  color: white;
}
.prodNav-cybersecurity:hover .hoverNavProd {
  text-align: center;
  z-index: 200;
  position: absolute;
  display: block !important;
  background: #f50c46;
  width: 100%;
  left: 0;
}
.prodNav-cybersecurity:hover .hoverNavProd .container {
  padding: 4px 8px;
}
.prodNav-cybersecurity:hover .hoverNavProd ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prodNav-cybersecurity:hover .hoverNavProd li {
  list-style-image: url(data:0);
  font-size: 0.8em;
  float: left;
  letter-spacing: 1px;
}
.prodNav-cybersecurity:hover .hoverNavProd li a {
  padding: 8px;
}
.prodNav-cybersecurity:hover .hoverNavProd li:not(:last-child) a::after {
  content: "-";
  font-weight: bold;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .prodNav-cybersecurity:hover .hoverNavProd li {
    font-size: 1em;
  }
}

.prodNav-scs i {
  color: #926FB1;
}
.prodNav-scs:hover {
  background: #926FB1;
}
.prodNav-scs:hover i {
  color: white;
}
.prodNav-scs:hover .hoverNavProd {
  text-align: center;
  z-index: 200;
  position: absolute;
  display: block !important;
  background: #855ea8;
  width: 100%;
  left: 0;
}
.prodNav-scs:hover .hoverNavProd .container {
  padding: 4px 8px;
}
.prodNav-scs:hover .hoverNavProd ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.prodNav-scs:hover .hoverNavProd li {
  list-style-image: url(data:0);
  font-size: 0.8em;
  float: left;
  letter-spacing: 1px;
}
.prodNav-scs:hover .hoverNavProd li a {
  padding: 8px;
}
.prodNav-scs:hover .hoverNavProd li:not(:last-child) a::after {
  content: "-";
  font-weight: bold;
  margin-left: 15px;
}
@media screen and (min-width: 1200px) {
  .prodNav-scs:hover .hoverNavProd li {
    font-size: 1em;
  }
}

.imageRow {
  overflow: hidden;
}

.imageRow {
  background: none;
  position: relative;
  text-align: center;
}
.imageRow .textHolder {
  top: 20%;
  left: 0%;
  z-index: 3;
  display: block;
  position: absolute;
  color: white;
}
.imageRow .textHolder h1 {
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 32px;
  letter-spacing: -1px;
}
.imageRow .textHolder p {
  margin-bottom: 48px;
}
.imageRow .textHolder .col-12 {
  margin: auto;
}
@media screen and (min-width: 992px) {
  .imageRow .textHolder .col-12 {
    max-width: 960px;
    text-align: left;
    display: block;
  }
}
@media screen and (min-width: 1260px) {
  .imageRow .textHolder .col-12 {
    max-width: 1140px;
  }
}
.imageRow .HeroImageCTA a {
  font-size: 1.25em;
  width: 16em;
  padding: 0.7em;
  border-radius: 0.1em;
  z-index: 3;
  background: #2ECC71;
  color: white;
  text-decoration: none;
}
.imageRow .HeroImageCTA a:hover {
  background: #25a25a;
  text-decoration: none;
}

.bgImage {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 11em);
}
.bgImage img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-height: calc(100vh - 11em);
  min-width: 100%;
}
@media screen and (max-width: 992px) {
  .bgImage {
    height: calc(100vh - 5em);
  }
  .bgImage img {
    min-height: calc(100vh - 5em);
  }
}
.bgImage:before {
  position: absolute;
  z-index: 2;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8015581232) 0%, rgba(0, 0, 0, 0.3393732493) 50%, rgba(0, 0, 0, 0.7987570028) 100%);
  /*adjust brightness here */
}

.productBG {
  margin-top: -3em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.productOverviews {
  padding: 0;
}

.productOverviews .row {
  margin-left: -16px;
  margin-right: -16px;
}

.productPanel {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 16px;
  margin-top: 32px;
  background: white;
  font-size: 0.9em;
  min-height: 20em;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  border: #cccccc solid 1px;
  text-decoration: none;
  color: #333645;
}
.productPanel:hover {
  color: white;
}
.productPanel .spreader {
  margin-top: auto;
}
.productPanel .iContainer {
  position: relative;
  min-width: 5em;
  min-height: 5em;
  border-radius: 50%;
}
.productPanel i {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto 0;
  font-size: 1.5em;
  height: 1em;
  color: white;
}
.productPanel h2 {
  font-size: 1.4em;
  margin-top: 1em;
}
.productPanel .Spacer {
  content: "";
  background: #333645;
  width: 30px;
  min-height: 3px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.productPanel p {
  font-size: 0.8;
  max-width: 90%;
  overflow: hidden;
}
.productPanel .readMore {
  display: block;
  width: 10em;
  margin: 0 auto;
  padding: 0.7em;
  font-size: 1.2em;
  border-radius: 0.2em;
  color: white;
}

@media screen and (min-width: 768px) {
  .productExtraHelp2 {
    min-height: 22em;
  }
}
@media screen and (min-width: 992px) {
  .productPanel {
    min-height: 20em;
  }

  .productExtraHelp {
    min-height: 25em;
  }
}
@media screen and (min-width: 1260px) {
  .productPanel {
    min-height: 23em;
  }
}
@media screen and (max-width: 768px) {
  .productPanel {
    margin: 16px 40px;
  }
}
.prod-bespSoft .iContainer {
  background: #67809F;
}
.prod-bespSoft .readMore {
  background: #67809F;
}
.prod-bespSoft:hover {
  background: #67809F;
}
.prod-bespSoft:hover .Spacer {
  background: white;
}
.prod-bespSoft:hover .iContainer {
  background: white;
}
.prod-bespSoft:hover .iContainer i {
  color: #67809F;
}
.prod-bespSoft:hover .readMore {
  color: #67809F;
  background: white;
}

.prod-itSup .iContainer {
  background: #4183D7;
}
.prod-itSup .readMore {
  background: #4183D7;
}
.prod-itSup:hover {
  background: #4183D7;
}
.prod-itSup:hover .Spacer {
  background: white;
}
.prod-itSup:hover .iContainer {
  background: white;
}
.prod-itSup:hover .iContainer i {
  color: #4183D7;
}
.prod-itSup:hover .readMore {
  color: #4183D7;
  background: white;
}

.prod-digitalmarketing .iContainer {
  background: #2ECC71;
}
.prod-digitalmarketing .readMore {
  background: #2ECC71;
}
.prod-digitalmarketing:hover {
  background: #2ECC71;
}
.prod-digitalmarketing:hover .Spacer {
  background: white;
}
.prod-digitalmarketing:hover .iContainer {
  background: white;
}
.prod-digitalmarketing:hover .iContainer i {
  color: #2ECC71;
}
.prod-digitalmarketing:hover .readMore {
  color: #2ECC71;
  background: white;
}

.prod-telecoms .iContainer {
  background: #D64541;
}
.prod-telecoms .readMore {
  background: #D64541;
}
.prod-telecoms:hover {
  background: #D64541;
}
.prod-telecoms:hover .Spacer {
  background: white;
}
.prod-telecoms:hover .iContainer {
  background: white;
}
.prod-telecoms:hover .iContainer i {
  color: #D64541;
}
.prod-telecoms:hover .readMore {
  color: #D64541;
  background: white;
}

.prod-webdesign .iContainer {
  background: #926FB1;
}
.prod-webdesign .readMore {
  background: #926FB1;
}
.prod-webdesign:hover {
  background: #926FB1;
}
.prod-webdesign:hover .Spacer {
  background: white;
}
.prod-webdesign:hover .iContainer {
  background: white;
}
.prod-webdesign:hover .iContainer i {
  color: #926FB1;
}
.prod-webdesign:hover .readMore {
  color: #926FB1;
  background: white;
}

.prod-cybersecurity .iContainer {
  background: #F62459;
}
.prod-cybersecurity .readMore {
  background: #F62459;
}
.prod-cybersecurity:hover {
  background: #F62459;
}
.prod-cybersecurity:hover .Spacer {
  background: white;
}
.prod-cybersecurity:hover .iContainer {
  background: white;
}
.prod-cybersecurity:hover .iContainer i {
  color: #F62459;
}
.prod-cybersecurity:hover .readMore {
  color: #F62459;
  background: white;
}

.prod-scs .iContainer {
  background: #926FB1;
}
.prod-scs .readMore {
  background: #926FB1;
}
.prod-scs:hover {
  background: #926FB1;
}
.prod-scs:hover .Spacer {
  background: white;
}
.prod-scs:hover .iContainer {
  background: white;
}
.prod-scs:hover .iContainer i {
  color: #926FB1;
}
.prod-scs:hover .readMore {
  color: #926FB1;
  background: white;
}

.netmattersDesc {
  margin-left: -32px;
  font-size: 1em;
  background: #333645;
  color: white;
}
.netmattersDesc .descText {
  padding: 16px;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .netmattersDesc .descText {
    margin-left: 32px;
    width: 95%;
  }
}
.netmattersDesc h2 {
  font-weight: 500;
}
.netmattersDesc .lead {
  font-weight: 500;
  font-size: 1em;
}
.netmattersDesc p {
  margin-top: 24px;
}
.netmattersDesc a {
  display: inline-block;
  text-decoration: none;
  color: #333645;
  background: white;
  padding: 0.75em;
  border-radius: 0.25em;
  margin-top: 1em;
}
.netmattersDesc a:hover {
  background: #e6e6e6;
}

.logobg {
  margin: 0;
}
@media screen and (min-width: 992px) {
  .logobg {
    background-image: url(https://www.netmatters.co.uk/assets/images/branded.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.newsSelector {
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 0;
}
.newsSelector h2 {
  margin-left: 4px;
  padding-bottom: 24px;
  margin-bottom: -6.4px;
  display: block;
  width: 3.5em;
  font-size: 1.5em;
  border-bottom: solid 0.2em #333645;
}
@media screen and (min-width: 768px) {
  .newsSelector h2 {
    margin-left: -16px;
  }
}

.newsContainerBG {
  background: #e6e6e6;
  background: linear-gradient(180deg, #efefef 0%, white 12%);
  margin-top: 0.4em;
  padding-top: 16px;
  padding-bottom: 16px;
}

.newsContainer {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .newsContainer .row {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.newsItem {
  min-width: 0px;
  max-width: calc(100% - 32px);
  align-items: center;
  justify-content: center;
  border: 1px solid #CBCBCB;
  border-radius: 0.25em;
  overflow: hidden;
  color: #333645;
  padding: 0;
  margin: 1em;
}
@media screen and (min-width: 768px) {
  .newsItem {
    max-width: calc(50% - 32px);
  }
}
@media screen and (min-width: 1260px) {
  .newsItem {
    max-width: calc(33.333333333333% - 32px);
  }
}
.newsItem a {
  text-decoration: none;
  color: white;
}
.newsItem .thumbnail-holder {
  display: block;
  background: red;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.newsItem .thumbnail-holder:before {
  position: absolute;
  z-index: 20;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 200ms;
  background: rgba(255, 255, 255, 0);
}
.newsItem .thumbnail-holder:hover:before {
  background: rgba(255, 255, 255, 0.5);
}
.newsItem .thumbnail-holder:hover img {
  transform: scale(1.1);
}
.newsItem .thumbnail-holder img {
  position: relative;
  transition: transform 200ms;
  width: 100%;
}
.newsItem .title {
  display: block;
  font-size: 1em;
  min-height: 3em;
}
.newsItem .desc {
  font-size: 0.9em;
  min-height: 5em;
}
.newsItem h3:hover {
  text-decoration: underline;
}
.newsItem .newsItemText {
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.newsItem .readMore {
  margin-top: auto;
  padding: 8px;
  border-radius: 0.2em;
  text-align: center;
  max-width: 7em;
}
.newsItem .author {
  font-size: 0.87rem;
  line-height: 0.2rem;
}
.newsItem .author img {
  float: left;
  border-radius: 50%;
  margin-right: 16px;
}
.newsItem .author h4 {
  font-weight: 600;
  font-size: 0.87rem;
  margin-top: 0.15rem;
  margin-bottom: 0.75rem;
}

.newsType-news {
  position: relative;
}
.newsType-news .overlayBanner {
  display: block;
  width: 5em;
  height: 1.5em;
  background: #D64541;
  position: absolute;
  top: 5%;
  right: 0%;
  z-index: 400;
  text-align: center;
}
.newsType-news .overlayBanner:hover {
  text-decoration: underline;
}
.newsType-news h3 {
  color: #D64541;
}
.newsType-news .readMore {
  background: #D64541;
}
.newsType-news .readMore:hover {
  background: #bc2c28;
}

.newsType-carreers {
  position: relative;
}
.newsType-carreers .overlayBanner {
  display: block;
  width: 5em;
  height: 1.5em;
  background: #4183D7;
  position: absolute;
  top: 5%;
  right: 0%;
  z-index: 400;
  text-align: center;
}
.newsType-carreers .overlayBanner:hover {
  text-decoration: underline;
}
.newsType-carreers h3 {
  color: #4183D7;
}
.newsType-carreers .readMore {
  background: #4183D7;
}
.newsType-carreers .readMore:hover {
  background: #286abd;
}

.clientsBG {
  background: white;
  background: linear-gradient(180deg, #efefef 0%, white 12%);
}

.clientsContainer .clientsImage {
  position: relative;
  padding: 3em 0.5em;
  text-align: center;
  vertical-align: middle;
  height: 12em;
}
.clientsContainer .clientsImage .clientsImageTwo {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  height: 6em;
  display: block;
}
.clientsContainer .clientsImage .clientsImageTwo a {
  display: block;
  top: 50%;
  width: 100%;
  font-size: 3.75em;
  vertical-align: middle;
}
.clientsContainer .clientsImage .clientsImageTwo img {
  margin-top: auto;
  width: 100%;
  max-height: 100%;
}
.clientsContainer .clientsImage .hiddenDesc {
  display: none;
  position: absolute;
  width: 260px;
  left: calc(50% - 130px);
  background: #333645;
  z-index: 5;
  color: white;
  padding: 16px;
  transform: translateY(-3em);
}
.clientsContainer .clientsImage .hiddenDesc .textHolder {
  margin: auto;
  font-size: 1em;
  display: block;
}
.clientsContainer .clientsImage .hiddenDesc .textHolder span {
  display: block;
  background: white;
  height: 0.25rem;
  width: 20%;
  margin: 1rem auto 4rem auto;
  color: white;
  line-height: 0;
}
.clientsContainer .clientsImage .hiddenDesc .textHolder h2 {
  display: block;
  font-size: 1.2em;
}
.clientsContainer .clientsImage .hiddenDesc .textHolder p {
  margin-top: -3.5em;
  display: block;
  font-size: 0.9em;
}
.clientsContainer .clientsImage .hiddenDesc::after {
  position: absolute;
  bottom: -2.5em;
  display: block;
  left: calc(50% - 50px);
  content: " ";
  border-right: 50px double transparent;
  border-left: 50px double transparent;
  border-top: 48px solid #333645;
  width: 0;
  height: 0;
  z-index: -1;
}
.clientsContainer .clientsImage .colored {
  display: none;
}
.clientsContainer .clientsImage .grey {
  display: inline;
}
.clientsContainer .clientsImage .clientsImageTwo:hover > img:first-of-type, .clientsContainer .clientsImage a:hover > img:first-of-type {
  display: inline;
}
.clientsContainer .clientsImage .clientsImageTwo:hover > img:last-of-type, .clientsContainer .clientsImage a:hover > img:last-of-type {
  display: none;
}
.clientsContainer .clientsImage .clientsImageTwo:hover .hiddenDesc, .clientsContainer .clientsImage a:hover .hiddenDesc {
  display: inline;
}

.busseys {
  height: 8rem;
  top: -8rem;
}

.crane {
  height: 11rem;
  top: -11rem;
}

.beat {
  height: 8rem;
  top: -8rem;
}

.northerndri {
  height: 11rem;
  top: -11rem;
}

.emailBG {
  background: #DDDDDD;
  padding-top: 32px;
  padding-bottom: 32px;
}

.emailContainer {
  padding: 0;
}
.emailContainer a {
  color: #333645;
}
.emailContainer a:hover {
  color: #08080a;
}
.emailContainer .row {
  margin-left: 32px;
  margin-right: 32px;
}
.emailContainer h2, .emailContainer label {
  padding: 0;
  font-weight: 500;
}
.emailContainer h2 {
  font-weight: 400;
}
.emailContainer .row > * {
  padding: 0;
}
.emailContainer .container-md {
  padding: 0;
}
.emailContainer .container-md .row {
  margin-left: auto;
  margin-right: auto;
}
.emailContainer input {
  height: 3em;
}
.emailContainer .emailCol, .emailContainer .nameCol {
  margin-top: 16px;
}
@media screen and (min-width: 992px) {
  .emailContainer .nameCol > * {
    margin-right: 8px;
  }
  .emailContainer .emailCol > * {
    margin-left: 8px;
  }
}
.emailContainer .checkMarketing {
  display: flex;
  margin: 0;
  margin-top: 16px;
  padding: 0;
  position: relative;
}
.emailContainer .checkMarketing .checkHolder {
  min-width: 2em;
  height: 2em;
  position: relative;
}
.emailContainer .checkMarketing .checkHolder .holderThing {
  content: "1";
  opacity: 1;
  width: 2em;
  height: 2em;
  background: none;
  border: 3px solid #333645;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 4px;
  bottom: 0;
  right: 0;
  text-align: center;
}
.emailContainer .checkMarketing .checkHolder .holderThing .fa-check {
  margin-top: 8px;
  opacity: 0;
}
.emailContainer .checkMarketing .checkHolder input {
  position: absolute;
  z-index: 12;
  opacity: 0;
  width: 2em;
  height: 2em;
}
.emailContainer .checkMarketing .checkHolder input:hover {
  cursor: pointer;
}
.emailContainer .checkMarketing .checkHolder input:checked {
  background-color: #333645;
  color: white;
  border: none;
}
.emailContainer .checkMarketing .checkHolder input:checked ~ .holderThing {
  background-color: #333645;
  color: white;
  border: none;
}
.emailContainer .checkMarketing .checkHolder input:checked ~ .holderThing .fa-check {
  opacity: 1;
  color: white;
}
.emailContainer .checkMarketing label {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 8px;
}
.emailContainer .btn {
  margin-top: 32px;
  background: #333645;
  color: white;
  height: 3em;
}
.emailContainer .btn:hover {
  background: #1d1f28;
}

.mainFooterBG {
  background: #333645;
  padding: 16px;
  color: white;
}

.footerContainer {
  padding: 48px 0;
}
.footerContainer .row {
  margin: 0;
}
.footerContainer h4 {
  margin-top: 16px;
  font-size: 1em;
  font-weight: 400;
}
.footerContainer .col-12 {
  padding: 0;
}
.footerContainer ul {
  list-style: none;
  padding: 0 0;
}
.footerContainer a {
  color: white;
  text-decoration: none;
}
.footerContainer a:hover {
  text-decoration: underline;
}
.footerContainer li {
  padding: 2px 0;
  font-size: 0.8em;
  font-weight: 400;
}
.footerContainer i {
  margin-top: 32px;
  background: #1d1f28;
  width: 98%;
  text-align: center;
  font-size: 2em;
  padding: 0.5em 1em;
}
.footerContainer .socialMediaContainer {
  padding: 0;
}

.socialMedia-fb:hover i {
  background: #4267B2;
}

.socialMedia-twitter:hover i {
  background: #1DA1F2;
}

.socialMedia-li:hover i {
  background: #2867b2;
}

.awardsContainer {
  margin-top: 32px;
  margin-bottom: 32px;
}
.awardsContainer .greyImage > img:last-of-type {
  display: none;
}
.awardsContainer .greyImage:hover > img:first-of-type {
  display: none;
}
.awardsContainer .greyImage:hover > img:last-of-type {
  display: block;
}
.awardsContainer img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.awardsContainer .row {
  margin-top: 16px;
}

/*# sourceMappingURL=style.css.map */
