@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  /* Hide horizontal scrollbar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin: 1em;
}

.menuButton {
  margin: auto 0;
  margin-right: 1em;
  min-width: 4em;
  max-width: 4em;
  text-align: center;
  text-transform: uppercase;
  background: #333645;
  border: none;
  border-radius: 4px;
  color: white;
  line-height: 1em;
  padding: 0.3em;
}
.menuButton .burgerBox {
  font-size: 2em;
}
.menuButton:hover {
  background: #22242E;
}

.phoneIcon {
  margin: auto 0;
  min-width: 5em;
}
.phoneIcon .phoneHolder {
  padding: 1em;
  color: #22242E;
}
.phoneIcon .phoneHolder:hover {
  color: #22242E;
  border-bottom: solid #22242E;
}

.mainLogo {
  margin-left: 1em;
}

.searchBar {
  margin: 1em;
  display: flex;
  height: 3em;
  border: solid 2px #CECECE;
  background: #E5E5E5;
}
.searchBar .searchText {
  flex: 1;
}
.searchBar .button {
  flex: 1;
}
.searchBar .searchText:focus, .searchBar button:focus {
  outline: none;
}
.searchBar .searchText, .searchBar button {
  border: none;
  margin: 0;
  background: #E5E5E5;
}
.searchBar button:hover {
  cursor: pointer;
}

.imageRow {
  overflow: hidden;
}

.imageRow {
  position: relative;
  text-align: center;
}
.imageRow .textHolder {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: block;
  position: absolute;
  color: white;
}
.imageRow .HeroImageCTA a {
  font-size: 1.5em;
  width: 14em;
  padding: 0.25em;
  border-radius: 0.25em;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: block;
  position: absolute;
  background: #2ECC71;
  color: white;
  text-decoration: none;
}
.imageRow .HeroImageCTA a:hover {
  background: #25a25a;
  text-decoration: none;
}

.bgImage {
  min-width: 100%;
  background: red;
  height: calc(100vh - 11em);
  overflow: hidden;
  margin: auto 0;
}
.bgImage img {
  min-width: 100%;
  height: calc(100vh - 11em);
}
.bgImage:before {
  position: absolute;
  z-index: 2;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /*adjust brightness here */
}

.productBG {
  background: #e6e6e6;
  margin-top: -3em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.productPanel {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1em;
  margin-top: 3em;
  border: dotted 1px black;
  background: white;
  font-size: 0.9em;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
  text-decoration: none;
  color: #333645;
}
.productPanel:hover {
  color: white;
}
.productPanel i {
  align-self: center;
  font-size: 1.5em;
  border-radius: 50%;
  padding: 0.5em;
  color: white;
}
.productPanel h2 {
  font-size: 1.8em;
  margin-top: 0.25em;
}
.productPanel .Spacer {
  font-size: 4em;
  color: #333645;
  line-height: 0.2em;
}
.productPanel p {
  max-width: 90%;
  overflow: hidden;
}
.productPanel .readMore {
  display: block;
  width: 10em;
  margin: 0 auto;
  margin-top: auto;
  padding: 0.7em;
  font-size: 1.2em;
  border-radius: 0.2em;
  color: white;
}
@media screen and (min-width: 992px) {
  .productPanel {
    height: 21em;
  }
}
@media screen and (min-width: 1400px) {
  .productPanel {
    height: 19em;
  }
}

.prod-bespSoft i {
  background: #67809F;
}
.prod-bespSoft .readMore {
  background: #67809F;
}
.prod-bespSoft:hover {
  background: #67809F;
}
.prod-bespSoft:hover .Spacer {
  color: white;
}
.prod-bespSoft:hover i {
  color: #67809F;
  background: white;
}
.prod-bespSoft:hover .readMore {
  color: #67809F;
  background: white;
}

.prod-itSup i {
  background: #4183D7;
}
.prod-itSup .readMore {
  background: #4183D7;
}
.prod-itSup:hover {
  background: #4183D7;
}
.prod-itSup:hover .Spacer {
  color: white;
}
.prod-itSup:hover i {
  color: #4183D7;
  background: white;
}
.prod-itSup:hover .readMore {
  color: #4183D7;
  background: white;
}

.prod-digitalmarketing i {
  background: #2ECC71;
}
.prod-digitalmarketing .readMore {
  background: #2ECC71;
}
.prod-digitalmarketing:hover {
  background: #2ECC71;
}
.prod-digitalmarketing:hover .Spacer {
  color: white;
}
.prod-digitalmarketing:hover i {
  color: #2ECC71;
  background: white;
}
.prod-digitalmarketing:hover .readMore {
  color: #2ECC71;
  background: white;
}

.prod-telecoms i {
  background: #D64541;
}
.prod-telecoms .readMore {
  background: #D64541;
}
.prod-telecoms:hover {
  background: #D64541;
}
.prod-telecoms:hover .Spacer {
  color: white;
}
.prod-telecoms:hover i {
  color: #D64541;
  background: white;
}
.prod-telecoms:hover .readMore {
  color: #D64541;
  background: white;
}

.prod-webdesign i {
  background: #926FB1;
}
.prod-webdesign .readMore {
  background: #926FB1;
}
.prod-webdesign:hover {
  background: #926FB1;
}
.prod-webdesign:hover .Spacer {
  color: white;
}
.prod-webdesign:hover i {
  color: #926FB1;
  background: white;
}
.prod-webdesign:hover .readMore {
  color: #926FB1;
  background: white;
}

.prod-cybersecurity i {
  background: #F62459;
}
.prod-cybersecurity .readMore {
  background: #F62459;
}
.prod-cybersecurity:hover {
  background: #F62459;
}
.prod-cybersecurity:hover .Spacer {
  color: white;
}
.prod-cybersecurity:hover i {
  color: #F62459;
  background: white;
}
.prod-cybersecurity:hover .readMore {
  color: #F62459;
  background: white;
}

.prod-scs i {
  background: #926FB1;
}
.prod-scs .readMore {
  background: #926FB1;
}
.prod-scs:hover {
  background: #926FB1;
}
.prod-scs:hover .Spacer {
  color: white;
}
.prod-scs:hover i {
  color: #926FB1;
  background: white;
}
.prod-scs:hover .readMore {
  color: #926FB1;
  background: white;
}

.netmattersDesc {
  font-size: 1.2em;
  background: #333645;
  color: white;
}
.netmattersDesc .descText {
  padding: 1em;
}
.netmattersDesc h2 {
  font-weight: bold;
  letter-spacing: 0.05em;
}
.netmattersDesc .lead {
  font-weight: bold;
}
.netmattersDesc p {
  margin-top: 1.5em;
}
.netmattersDesc a {
  display: inline-block;
  text-decoration: none;
  color: #333645;
  background: white;
  padding: 0.75em;
  border-radius: 0.25em;
  margin-top: 1em;
}
.netmattersDesc a:hover {
  background: #e6e6e6;
}

.logobg {
  margin: 0;
}
@media screen and (min-width: 992px) {
  .logobg {
    background-image: url(https://www.netmatters.co.uk/assets/images/branded.png);
    background-position: center;
  }
}

.newsSelector {
  padding-top: 2em;
}
.newsSelector h2 {
  margin-left: 0.5em;
  padding-bottom: 0.8em;
  display: inline;
  font-size: 2em;
  min-height: 6em;
  border-bottom: solid 0.2em #333645;
}

.newsContainerBG {
  background: #e6e6e6;
  margin-top: 2em;
}

.newsItem {
  min-width: 0px;
  max-width: calc(100% - 2em);
  align-items: center;
  justify-content: center;
  border: 1px solid #333645;
  border-radius: 1em;
  overflow: hidden;
  color: #333645;
  padding: 0;
  margin: 1em;
}
@media screen and (min-width: 768px) {
  .newsItem {
    max-width: calc(50% - 2em);
  }
}
@media screen and (min-width: 1200px) {
  .newsItem {
    max-width: calc(33.333333333333% - 2em);
  }
}
.newsItem a {
  text-decoration: none;
  color: white;
}
.newsItem .thumbnail-holder {
  display: block;
  background: red;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.newsItem .thumbnail-holder:before {
  position: absolute;
  z-index: 20;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 200ms;
  background: rgba(255, 255, 255, 0);
}
.newsItem .thumbnail-holder:hover:before {
  background: rgba(255, 255, 255, 0.5);
}
.newsItem .thumbnail-holder:hover img {
  transform: scale(1.1);
}
.newsItem .thumbnail-holder img {
  position: relative;
  transition: transform 200ms;
  width: 100%;
}
.newsItem .title {
  display: block;
  font-size: 1.3em;
  min-height: 2.5em;
}
.newsItem .desc {
  min-height: 5em;
}
.newsItem h3:hover {
  text-decoration: underline;
}
.newsItem .newsItemText {
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-height: 22em;
}
.newsItem .readMore {
  margin-top: auto;
  padding: 0.5em;
  border-radius: 0.2em;
  text-align: center;
  max-width: 7em;
}
.newsItem .give-hr-margin {
  padding: 1em;
}
.newsItem .author {
  line-height: 0.2em;
}
.newsItem .author img {
  float: left;
  border-radius: 50%;
  margin-right: 1em;
}
.newsItem .author h3 {
  font-weight: bold;
  font-size: 0.8em;
}

.newsType-news {
  position: relative;
}
.newsType-news .overlayBanner {
  display: block;
  width: 5em;
  height: 1.5em;
  background: #D64541;
  position: absolute;
  top: 5%;
  right: 0%;
  z-index: 400;
  text-align: center;
}
.newsType-news .overlayBanner:hover {
  text-decoration: underline;
}
.newsType-news h3 {
  color: #D64541;
}
.newsType-news .readMore {
  background: #D64541;
}
.newsType-news .readMore:hover {
  background: #bc2c28;
}

.newsType-carreers {
  position: relative;
}
.newsType-carreers .overlayBanner {
  display: block;
  width: 5em;
  height: 1.5em;
  background: #4183D7;
  position: absolute;
  top: 5%;
  right: 0%;
  z-index: 400;
  text-align: center;
}
.newsType-carreers .overlayBanner:hover {
  text-decoration: underline;
}
.newsType-carreers h3 {
  color: #4183D7;
}
.newsType-carreers .readMore {
  background: #4183D7;
}
.newsType-carreers .readMore:hover {
  background: #286abd;
}

.clientsBG {
  background: #cccccc;
}

.clientsContainer .list {
  display: block;
  padding: 1em;
}
.clientsContainer .clientsImage {
  position: relative;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.clientsContainer .clientsImage img {
  max-width: 100%;
  min-width: 0%;
  height: auto;
}
.clientsContainer .clientsImage .colored {
  display: none;
}
.clientsContainer .clientsImage:hover > img:first-of-type {
  display: block;
}
.clientsContainer .clientsImage:hover > img:last-of-type {
  display: none;
}

/*# sourceMappingURL=style.css.map */
