$dark-1: #333645;
$dark-1-hover: #22242E;

$light-offset: darken(white, 10);
$light-offset-2: #999AA2;

$gutter: 1em;

$product-colors: (
    "bespSoft": #67809F,
    "itSup":#4183D7,
    "digitalmarketing": #2ECC71,
    "telecoms": #D64541,
    "webdesign": #926FB1,
    "cybersecurity":#F62459,
    "scs": #926FB1,
);

$news-types:(
    "news": #D64541,
    "carreers" : #4183D7,
);

$social-media:(
    "fb": #4267B2,
    "twitter": #1DA1F2,
    "li": #2867b2,
)