$dark-1: #333645;
$dark-1-hover: #22242e;

$light-offset: darken(white, 10);
$light-offset-2: #999aa2;

$productNav-bg: #333645;

$gutter: 16px;

$product-colors: (
	'bespSoft': #67809f,
	'itSup': #4183d7,
	'digitalmarketing': #2ecc71,
	'telecoms': #d64541,
	'webdesign': #926fb1,
	'cybersecurity': #f62459,
	'scs': #926fb1,
);

$news-types: (
	'webDes': #d64541,
	'itSup': #4183d7,
	'tele': #000000,
	'bespSoft': #000000,
	'digMark': #000000,
	'cyberSec': #000000,
);

$social-media: (
	'fb': #4267b2,
	'twitter': #1da1f2,
	'li': #2867b2,
);

$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1260px,
);
