.clientsBG{
    background: darken($light-offset, 10);
}

.clientsContainer{
    .clientsImage{
        position: relative;
        padding: 3em 1em;
        text-align: center;
        vertical-align: middle;
        img{

            max-width: 100%;
            min-width: 0%;
            height: auto;
            // -webkit-filter: grayscale(100%);
            // filter: grayscale(100%);
            // filter: url(desaturate.svg#greyscale);
            // filter: gray;
            
            // &:hover{
            //     filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
            //     -webkit-filter: grayscale(0%);
            // }

            // Didn't realise the website was using two images so was trying this at first but IE is IE
            
        }

        .hiddenDesc{
            display: none;
            position: absolute;
            width: 260px;
            left: calc(50% - (260px / 2)) ;
            right: 0;
            background: $dark-1;
            z-index: 5;
            color:white;
            padding: $gutter;
            transform: translateY();
            .textHolder{
                margin: auto;
                font-size: 1em;
                display: block;
                span{
                    display: block;
                    margin: 3rem auto;
                    font-size: 5em;
                    color:white;
                    line-height: 0;
                }
                h1{
                    display: block;
                }
                p{
                    margin-top: -3.5em;
                    display: block;
                }
            }

            @media screen and (min-width:992px){
    
            }
            // clip-path: polygon(100% 0, 100% 80%, 65% 80%, 50% 100%, 35% 80%, 0 80%, 0 0);
            // -ms-clip-path: polygon(100% 0, 100% 80%, 65% 80%, 50% 100%, 35% 80%, 0 80%, 0 0);
            // Wanted todo this but IE :)
            &::after{
                position: absolute;
                bottom:-2.5em;
                display: block;
                left:calc(50% - 32px);
                content: " ";
                border-right: 32px double transparent;
                border-left: 32px double transparent;
                border-top: 48px solid $dark-1;
                width: 0;
                height: 0;
                z-index: -1;

            }

        }

        .colored{
            display: none;
        }

        &:hover,a:hover{
            & > img:first-of-type{
                display: block;
            }
            & > img:last-of-type{
                display: none;
            }
            .hiddenDesc{
                display: block;
            }
        }

    }

}

.busseys{
    height: 10em;
    top: -10em;
}
.crane{
    height: 15em;
    top: -15em;
}
.beat{
    height: 10em;
    top: -10em;
}

.northerndri{
    height: 13em;
    top: -13em;
}