.clientsBG{
    
    background: white;
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 12%);
}
.clientsContainer{
    .clientsImage{
        position: relative;
        padding: 3em 0.5em;
        text-align: center;
        vertical-align: middle;
        height: 12em;
        .clientsImageTwo{
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
            //background: pink;
            //width: fit-content;
            height: 6em;
            display: block;
            a{
                display: block;
                top: 50%;
                width: 100%;
                font-size: 3.75em;
                vertical-align: middle;
            }
            img{
                margin-top: auto;
                width: 100%;
                max-height: 100%;
                //transform: translate(0,calc((6em - 100%) / 2)); IE :)))))))))

            }
        }

        .hiddenDesc{
            display: none;
            position: absolute;
            width: 260px;
            left: calc(50% - 130px) ;
            background: $dark-1;
            z-index: 5;
            color:white;
            padding: $gutter;
            transform: translateY(-3em);
            .textHolder{
                margin: auto;
                font-size: 1em;
                display: block;
                span{
                    display: block;
                    background: white;
                    height: .25rem;
                    width: 20%;
                    margin: 1rem auto 4rem auto;
                    color:white;
                    line-height: 0;
                }
                h2{
                    display: block;
                    font-size: 1.2em;
                }
                p{
                    margin-top: -3.5em;
                    display: block;
                    font-size: .9em;
                }
            }

            @media screen and (min-width:992px){
    
            }
            // clip-path: polygon(100% 0, 100% 80%, 65% 80%, 50% 100%, 35% 80%, 0 80%, 0 0);
            // -ms-clip-path: polygon(100% 0, 100% 80%, 65% 80%, 50% 100%, 35% 80%, 0 80%, 0 0);
            // Wanted todo this but IE :)
            &::after{
                position: absolute;
                bottom:-2.5em;
                display: block;
                left:calc(50% - 50px);
                content: " ";
                border-right: 50px double transparent;
                border-left: 50px double transparent;
                border-top: 48px solid $dark-1;
                width: 0;
                height: 0;
                z-index: -1;

            }

        }

        .colored{
            display: none;
        }

        .grey{
            display:inline;
        }

        .clientsImageTwo:hover,a:hover{
            & > img:first-of-type{
                display: inline;
            }
            & > img:last-of-type{
                display: none;
            }
            .hiddenDesc{
                display: inline;
            }
        }

    }

}

.busseys{
    height: 8rem;
    top: -8rem;
}
.crane{
    height: 11rem;
    top: -11rem;
}
.beat{
    height: 8rem;
    top: -8rem;
}

.northerndri{
    height: 11rem;
    top: -11rem;
}