
.imageRow{
    overflow: hidden;
}

.imageRow{
    background: none;
    position: relative;
    text-align: center;
    .textHolder{
        top: 20%;
        left: 0%;

        //transform: translate(-50%, -50%);
        z-index: 3;
        display: block;
        position: absolute;
        color:white;
        h1{
            font-size: 4em;
            margin-bottom: $gutter * 2;
        }
        p{
            margin-bottom: $gutter * 2;
        }
        .col-12{
            margin: auto;

            @media screen and (min-width:992px){
                max-width: 	960px;
                text-align: left;
                left: 10%;
                display: block;
            }
            @media screen and (min-width:1200px){
                max-width: 	1140px;
            }
            @media screen and (min-width:1400px){
                max-width: 	1320px;
            }

        }
    }

    .HeroImageCTA a{
        font-size: 1.5em;
        width: 16em;
        //display: block;
        padding: .5em;
        border-radius: .25em;

        //transform: translate(-50%, -50%);
        z-index: 3;

        background: map-get($product-colors , "digitalmarketing");
        color:white;
        text-decoration: none;

        &:hover{
            background: darken($color: map-get($product-colors , "digitalmarketing"), $amount: 10);
            text-decoration: none;
        }

    }
}

.bgImage{
    position: relative;
    overflow: hidden;
    height: calc(100vh - 11em);

    img{
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        height: calc(100vh - 11em);
    }

    @media screen and (max-width:992px) {
        height: calc(100vh - 5em);
        img{
            height: calc(100vh - 5em);
        }
    }

    &:before {
        position: absolute; 
        z-index: 2;
        display: block; 
        content: "";
        top: 0; right: 0; bottom: 0; left: 0;  
        background: hsla(0,0%,0%,0.5);          /*adjust brightness here */
    }
}