.emailBG{
    background: darken($light-offset, 20);
}

.emailContainer{

    a{
        color: $dark-1;
        &:hover{
            color: darken($color: $dark-1, $amount: 10)
        }
    }

    padding:$gutter;

    h2, label{
        padding: 0;
        font-weight: bold;
    }

    .row > *{
        padding: 0;
    }

    .container-md{
        padding: 0;
        .row{
            margin-left:auto;
            margin-right:auto;
        }
    }

    input{
        height: 3em;
    }

    .emailCol, .nameCol{
        margin-top: $gutter;
    }

    .nameCol > *{
        margin-right: $gutter/2;
    }
    .emailCol > *{
        margin-left: $gutter/2;
    }


    .checkMarketing{

        display: flex;
        margin: 0;
        margin-top: $gutter;
        padding: 0;
        input{
            width: 2em;
            height: 2em;
            display: inline-block;

            &:focus{
                box-shadow: none;
                border:none
            }

            &:checked{
                background-color: $dark-1;
                color: white;
                border: none
            }

        }
        label{
            margin-left: $gutter;
        }
    }

    .btn{
        margin-top: $gutter;
        background:$dark-1;
        color: white;
        height: 3em;

        &:hover{
            background: darken($color: $dark-1, $amount: 10);
        }
    }
}