.emailBG{
    background: darken($light-offset, 20);
}

.emailContainer{

    a{
        color: $dark-1;
        &:hover{
            color: darken($color: $dark-1, $amount: 10)
        }
    }

    padding:$gutter;

    h2, label{
        font-weight: bold;
    }

    .row{
    }

    input{
        height: 3em;
    }

    .emailCol, .nameCol{
        margin-top: $gutter;
    }

    .checkMarketing{


        margin: 0;
        margin-top: $gutter;
        padding: 0;
        input{
            width: 2em;
            height: 2em;

            &:focus{
                box-shadow: none;
                border:none
            }

            &:checked{
                background-color: $dark-1;
                color: white;
                border: none
            }

        }
        label{
            font-size: 1em;

        }
    }

    .btn{
        margin-top: $gutter;
        background:$dark-1;
        color: white;
        height: 3em;

        &:hover{
            background: darken($color: $dark-1, $amount: 10);
        }
    }
}