.mainFooterBG{
    background: $dark-1;
    padding: $gutter;
    color: white;
}

.footerContainer{

    padding: ($gutter * 3) $gutter

    h4{
        margin-top: $gutter;
        font-size: 1.3em;
    }

    ul{
        padding: 0;
        list-style: none;
        padding: 1em 0;
    }

    a{
        color:white;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    li{
        padding: 2px 0;
    }

    i{
        margin-top: $gutter / 3;
        background: darken($color: $dark-1, $amount: 10);
        width: 90%;
        text-align: center;
        font-size: 2em;
        padding: .5em 1em;
    }


    .socialMediaContainer{
        padding: 0;
    }

    
}

@each $brand, $color in $social-media{
    .socialMedia-#{$brand}{
        &:hover i{
            background: $color;
        }
    }
}