.mainFooterBG {
	background: $dark-1;
	padding: $gutter;
	color: white;
}

.footerContainer {
	padding: ($gutter * 3) 0;

	.row {
		margin: 0;
	}

	h4 {
		margin-top: $gutter;
		margin-bottom: $gutter * 1.5;
		font-size: 1em;
		font-weight: 400;
	}

	.col-12 {
		padding: 0;
	}

	ul {
		list-style: none;
		padding: 0 0;
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	li {
		padding-bottom: 2px;
		font-size: 0.8em;
		font-weight: 400;
	}

	i {
		background: darken($color: $dark-1, $amount: 10);
		width: 100%;
		text-align: center;
		font-size: 2em;
		padding: 0.5em 1em;
	}

	.row > * {
		padding: $gutter * 1.5;
		padding-left: 0;
		padding-top: 0;
		padding-right: $gutter * 0.75;
	}
	.row > .col-6:nth-child(2) {
		padding-left: $gutter * 0.75;
		padding-right: 0;
	}
	.socialMediaContainer {
		padding: 0;
	}
}

@each $brand, $color in $social-media {
	.socialMedia-#{$brand} {
		&:hover i {
			background: $color;
		}
	}
}
