nav{
    margin: $gutter;
}

.menuButton{
    margin: auto 0;
    margin-right: $gutter;
    min-width: 4em;
    max-width: 4em;
    text-align: center;
    text-transform: uppercase;
    background: $dark-1;
    border:none;
    border-radius: 4px;
    color:white;
    line-height: 1em;
    padding: .3em;
    .burgerBox{
        font-size: 2em;
    }

    &:hover{
        background:$dark-1-hover;
    }
    
}
.phoneIcon{
    margin: auto 0;
    min-width: 5em;
    .phoneHolder{
        padding: $gutter;
        color:$dark-1-hover;
    }

    & .phoneHolder:hover{
         color: $dark-1-hover;
         border-bottom: solid $dark-1-hover;
    }

}

.mainLogo{
    margin-left: $gutter;
}

.searchBar{
    margin: $gutter;
    display: flex;
    height: 3em;
    border: solid 2px #CECECE;
    background: #E5E5E5;

    .searchText{
        flex:1;
    }
    .button{
        flex: 1;
    }

    & .searchText:focus,& button:focus{
        outline: none;
    }

    .searchText, button{
        border: none;
        margin:0;
        background: #E5E5E5;
    }

    button:hover{
        cursor: pointer;
    }

}

.imageRow{
    overflow: hidden;
}

.imageRow{
    position: relative;
    text-align: center;
    .textHolder{
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        display: block;
        position: absolute;
        color:white;
    }

    .HeroImageCTA a{
        font-size: 1.5em;
        width: 14em;
        padding: .25em;
        border-radius: .25em;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        display: block;
        position: absolute;
        background: map-get($product-colors , "digitalmarketing");
        color:white;

        &:hover{
            background: darken($color: map-get($product-colors , "digitalmarketing"), $amount: 10);
            text-decoration: none;
        }

    }
}

.bgImage{
    min-width: 100%;
    background: red;
    height: calc(100vh - 11em);
    overflow: hidden;
    margin: auto 0;

    img{
        min-width: 100%;
        height: calc(100vh - 11em);

    }

    &:before {
        position: absolute; 
        z-index: 2;
        display: block; 
        content: "";
        top: 0; right: 0; bottom: 0; left: 0;  
        background: hsla(0,0%,0%,0.5);          /*adjust brightness here */
    }
}