.header-mini{
    display: flex;
    padding:$gutter;

    .phone{
        margin-left: auto;
        margin-right: $gutter;
        a{
            font-size: 2em;
            color: $dark-1;
            border-bottom: white solid 2px;
        }
        a:hover{
            color: darken($color: $dark-1, $amount: 10);
            text-decoration: underline;
            border-bottom: darken($color: $dark-1, $amount: 10) solid 2px;
        }
    }

    .menu{
        border-radius: .25em;
        text-align: center;
        background: $dark-1;
        color: white;
        min-width: 4em;
        max-width: 4em;
        border: none;
        height: 80%;
        i{
            font-size: 2.5em;
        }
        p{
            line-height: .5em;
            font-size: .8em;
            margin-bottom: 0;
        }

        &:hover{
            background: darken($color: $dark-1, $amount: 10);
        }
    }

    .phone,.menu{
        margin-top: auto;
        margin-bottom: auto;
    }
}


.search{
    @include centerVert;
    height: 3em;
    display: flex;
    flex: 1;
    margin-bottom: $gutter;
    input{
        flex: 1;
        background: white;
        border:none;
        border:solid 2px $light-offset-2;
    }

    input:focus{
        outline:none;
    }

    button{
        color:white;
        width: 2em;
        background: $light-offset-2;
        border:solid 2px $light-offset-2;
    }
}



.header-med{
    padding: $gutter;
    overflow: hidden;
    .logo{
        display: block;
        max-width: 100%;
        overflow: hidden;
        @include centerVert;
        img{
             max-width: 100%;
        }
  
    }

    .actions{
        display: flex;

        .smallButton{
            @include centerVert;
            min-width: 4em;
            max-width: 4em;
            height: 4em;
            margin-left: $gutter * 2;
            border-radius: .25em;
            i{
                font-size: 1.7em
            }
        }

        .medButton{
            @include centerVert;
            min-width: 8em;
            max-width: 8em;
            height: 4em;
            margin-left: $gutter * 2;
            border-radius: .25em;
            i{
                font-size: 1.3em;
            }
        }

        .menu{
            background: $dark-1;
            color: white;
            border:none;

            i{
                margin-top: .05em;
                font-size: 2.5em;
            }
            p{
                margin-top: -.3em;
                font-size: 1em;
            }
            &:hover{
                background: darken($color: $light-offset-2, $amount: 10);
            }
        }

        .phone{
            @include centerVert;
            font-size: 2em;
            margin-left: $gutter;
        }
        .search{
            margin-left: $gutter;
            margin-bottom: auto;
        }
        .searchButton{
            background: $light-offset-2;
            color: white;
            border: none;
            &:hover{
                background: darken($color: $light-offset-2, $amount: 10);
            }
        }

        .contactButton{
            background: $light-offset-2;
            color: white;
            border: none;
            &:hover{
                background: darken($color: $light-offset-2, $amount: 10);
            }
        }

        .supportButton{
            background: #4183D7;
            color:white;
            border: none;
            margin-left: auto;
            &:hover{
                background: darken($color: #4183D7, $amount: 10);
            }
        }

    }
}