nav {
    margin: $gutter $gutter;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    background: blanchedalmond;
    grid-template-columns: minmax(0px,400px) auto 72px 80px;
    -ms-grid-columns: minmax(0px,400px) auto 72px 80px;
    grid-template-rows: 5em 3em 100vh;
    -ms-grid-rows: 5em 3em 100vh;
    // grid-template-areas: I LOVE INTERNET EXPLORER SO MUCH :)
    // "logo . phone menu"
    // "search search search search"
    // "bgImage bgImage bgImage bgImage";
    column-gap: $gutter;
    row-gap: $gutter;
    // background: red;
    // overflow: hidden;
    padding: .25em;
    align-items: center;
    flex-wrap: wrap;


    .mainLogo{
        grid-column: 1;
        -ms-grid-column: 1;
        img {
            max-height: 5em;
            margin-top: $gutter;
        }
    }

    .filler{
        grid-column: 2;
        -ms-grid-column: 2;
    }
    
    .phoneIcon{
        color: $dark-1;
        margin-left: auto;
        margin-right: 1em;
        grid-column: 3;
        -ms-grid-column: 3;
        .phoneHolder {
            color: $dark-1;
            padding: .1em;
            display: inline-block;
            font-size: 1em;
            text-align: center;
            span{
                margin-top: auto;
                display: inline-block;
            }
        }
        &:hover{
            .phoneHolder {
                border-bottom: solid 2px $dark-1-hover;
                color: $dark-1-hover;
            }
        }
    } 


    .menuButton{
        grid-column: 4;
        -ms-grid-column: 4;

        height: 4em;
        background: $dark-1;
        color:white;
        border: none;
        border-radius: 5%;
        line-height: 1em;
        .burgerBox {
            font-size: 2em;
            text-align: center;
        }
        .menuText{
            font-size: 1em;
        }

        &:hover{
            background: $dark-1-hover;
            cursor: pointer;
        }
    }

    .searchBar{
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 1/-1;
        -ms-grid-column-span: 4;
        background: chartreuse;
        display: flex;
        flex: 1;
        align-items: center;
        height: 3em;
        align-items: stretch;
        border: solid 1px #CECECE;
        background: #E5E5E5;
        input{
            flex: 12;
            margin-right: 0;
            height: 100%;
            border: none;
            background: #E5E5E5;
            padding: $gutter;
            &:focus{
                outline: none;
            }
        }
        button{
            flex-basis: 3em;
            float: right;
            border: none;
            background: #E5E5E5;
            font-size: 1.5em;
            &:focus{
                outline: none;
            }
        }
    }

    .bgImage{
        display: block;
        position: relative;
        grid-area: bgImage;
        height: 100%;
        .imageHolder{
            overflow: hidden;
            background: red;
            background-image: url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-JQsO.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 300%;
            height: 100%;

        }
        .textHolder{
            position: absolute;
            background: blue;
            top: 50%;
            width: 100%;
            text-align: center;
        }
    }
}

