.header-mini{
    display: flex;
    padding: $gutter * 1.5;
    text-align: center;

    .phone{
        margin-top: .6em;
        margin-left: auto;
        a{
            font-size: 2em;
            color: $dark-1;
            border-bottom: white solid 2px;
        }
        a:hover{
            color: darken($color: $dark-1, $amount: 10);
            text-decoration: underline;
            border-bottom: darken($color: $dark-1, $amount: 10) solid 2px;
        }
    }

    .menu{
        margin-left: 1em;
    }
    .search{
        margin-top: - $gutter * 2;
        padding: 0;
    }
}


.menu{
    background: $dark-1;
    color: white;
    border:none;
    @include centerVert;
    width: 4em;
    height: 3.5em;
    margin-left: $gutter * 2;
    border-radius: .25em;
    .menuText{
        margin-top: -.3em;
        font-size: .8em;
    }
    &:hover{
        background: darken($color: $dark-1, $amount: 10);
    }

    .burgerHolder{
        .burgerLines{
            display: block;
            width: 55%;
            background: white;
            height: .2em;
            margin: .3em auto 0 auto
        }
        margin-bottom: 0;
    }
}

.search{
    @include centerVert;
    height: 3.5em;
    display: flex;
    flex: 1;
    input{
        flex: 1;
        min-width: 8em;
        background: white;
        border:none;
        border:solid 1px $light-offset-2;
        @media screen and (min-width:992px){
            min-width: 12em;
        }
    }

    input:focus{
        outline:none;
    }

    button{
        color:white;
        width: 3em;
        background: $light-offset-2;
        border:solid 2px $light-offset-2;

        &:hover{
            background: darken($color: $light-offset-2, $amount: 10);
        }
    }
}



.header-med{
    padding-top: $gutter * 1.5;
    padding-bottom: $gutter * 1.5;
    overflow: hidden;

    .logo{
        display: block;
        max-width: 100%;
        overflow: hidden;
        @include centerVert;
        img{
             max-width: 100%;
        }
  
    }

    .actions{
        display: flex;

        & > * {
            flex: 0 1 auto;
        }

        .smallButton{
            @include centerVert;
            min-width: 4em;
            max-width: 4em;
            height: 3.5em;
            margin-left: $gutter * 2;
            border-radius: .25em;
            i{
                font-size: 1.7em
            }
        }

        .medButton{
            @include centerVert;
            min-width: 8em;
            max-width: 8em;
            flex-basis: 8em;
            height: 3.5em;
            margin-left: $gutter * 2;
            border-radius: .25em;
            text-align: center;
            i{
                display: inline-block;
                margin-top: .9em;
                font-size: 1.2em;
                text-decoration: none;
            }
        }

        .phone{
            @include centerVert;
            font-size: 2em;
            margin-left: $gutter;
        }
        .search{
            margin-left: $gutter * 2;
            margin-bottom: auto;
            overflow: hidden;
            @media screen and (min-width:768px){
                max-width: 20em;
            }

            @media screen and (min-width:1400px){
                width: 20em;
            }
        }
        .searchButton{
            background: $light-offset-2;
            color: white;
            border: none;
            &:hover{
                background: darken($color: $light-offset-2, $amount: 10);
            }
        }

        .contactButton{
            background: $light-offset-2;
            color: white;
            border: none;
            &:hover{
                background: darken($color: $light-offset-2, $amount: 10);
            }
        }

        .supportButton{
            background: #4183D7;
            color:white;
            border: none;
            margin-left: auto;
            &:hover{
                background: darken($color: #4183D7, $amount: 10);
            }
        }


    }
}