.newsSelector{
    padding-top: $gutter * 2;
    h2{
        @media screen and (min-width: map-get($map: $breakpoints, $key:md )){
            margin-left: - $gutter
        }
        margin-left: $gutter * .25;
        padding-bottom: ($gutter * 1.5);
        margin-bottom:- $gutter * 0.4;
        display: block;
        width: 3.5em;
        font-size: 1.5em;
        //min-height: 10em;
        border-bottom: solid .2em $dark-1;
    }
}

.newsContainerBG{
    background:$light-offset;
    background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 12%);
    margin-top: .4em;
    padding-top: $gutter;
    padding-bottom: $gutter;
}
.newsContainer .row{
    @media screen and (min-width: map-get($map: $breakpoints, $key:md )){
        margin-left: - $gutter * 2;
        margin-right: - $gutter * 2;
    }
}

.newsItem{
    min-width: 0px;
    //max-width: calc(33% - #{$gutter * 2});
    max-width: calc(100% - #{$gutter*2});

    @media screen and (min-width:map-get($map: $breakpoints, $key:md )){
        max-width: calc(50% - #{$gutter * 2});
    }

    @media screen and (min-width:map-get($map: $breakpoints, $key:xl )){
        max-width: calc(33.333333333333% - #{$gutter * 2});
    }
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $dark-1;
    border-radius: .25em;
    overflow: hidden;
    color:$dark-1;
    padding: 0;
    margin: 1em;
    a{
        text-decoration: none;
        color: white;
    }
    .thumbnail-holder{
        display: block;
        background:red;
        width: 100%;
        overflow: hidden;
        position: relative;

        &:before {
            position: absolute; 
            z-index: 20;
            display: block; 
            content: "";
            top: 0; right: 0; bottom: 0; left: 0;  
            transition: background-color 200ms;
            background: rgba($color: #ffffff, $alpha: 0);
        }

        &:hover{
            &:before { 
                background: rgba($color: #ffffff, $alpha: .5);
            }

            img{
                transform: scale(1.1);
            }
        }
        img{
            position: relative;
            transition: transform 200ms;
            width: 100%
        }
    }



    .title{
        display: block;
        font-size: 1em;
        min-height: 2em;
    }

    .desc{
        font-size: .9em;
        min-height: 5em;
    }

    h3:hover{
        text-decoration: underline;
    }
    .newsItemText{
        padding: $gutter;
        display: flex;
        flex-direction: column;
        min-height: 20em;
    }

    .readMore{
        margin-top: auto;
        padding: $gutter / 2;
        border-radius: .2em;
        text-align: center;
        max-width: 7em;
    }
    .give-hr-margin{
        padding: $gutter;
    }

    .author{
        line-height: .2em;
        img{
            float: left;
            border-radius: 50%;
            margin-right: $gutter;
        }
        h4{
            font-weight: bold;
            font-size: 1rem;
            margin-bottom: .75rem;
        }
    }
}

@each $type,$color in $news-types {
    .newsType-#{$type} {
        position: relative;
        .overlayBanner{
            display: block;
            width: 5em;
            height: 1.5em;
            background: $color;
            position: absolute;
            top: 5%;
            right:0%;
            z-index: 400;
            text-align: center;

            &:hover{
                text-decoration: underline;
            }
        }

        h3{
            color:$color;
        }

        .readMore{
            background:$color;
            &:hover{
                background:darken($color, 10);
            }
        }
    }
}