.productBG{

    margin-top: -3em;
    padding-bottom: 3em;
    padding-top: 3em;
}

.productPanel{
    padding: $gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: $gutter;
    margin-top: ($gutter * 3);
    //border:dotted 1px black;
    background: white;
    font-size: .9em;
    height: 18em;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55); 
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.55);
    text-decoration: none;
    color: $dark-1;

    &:hover{
        color:white
    }

    i{
        align-self: center;
        font-size: 1.5em;
        border-radius: 50%;
        padding: .5em;
        color: white;
    }

    h2{
        font-size: 1.8em;
        margin-top: .25em;
    }

    .Spacer{
        font-size: 4em;
        color:$dark-1;
        line-height: .2em;
    }

    p{
        max-width: 90%;
        overflow: hidden;
    }

    .readMore{
        display: block;
        width: 10em;
        margin: 0 auto;
        margin-top: auto;
        padding: .7em;
        font-size: 1.2em;
        border-radius: .2em;
        color: white;
    }

    @media screen and (min-width: 992px) {
        height: 21em;
    }

    @media screen and (min-width: 1400px) {
        height: 19em;
    }

}

@each $name, $color in $product-colors{
    .prod-#{$name}{
        i {
            background: $color;
        }

        .readMore{
            background: $color;
        }

        &:hover{
            background: $color;
            .Spacer{
                color: white
            }

            i{
                color: $color;
                background: white;
            }

            .readMore{
                color: $color;
                background: white;
            }
        }
    }
}