.productBG{

    margin-top: -3em;
    padding-bottom: 3em;
    padding-top: 3em;
}

.productOverviews .row{
    margin-left: - $gutter* 2;
    margin-right: - $gutter* 2;
}

.productPanel{
    padding: $gutter;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: $gutter;
    margin-top: ($gutter * 3);
    //border:dotted 1px black;
    background: white;
    font-size: .9em;
    min-height: 20em;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.55); 
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.55);
    text-decoration: none;
    color: $dark-1;

    &:hover{
        color:white
    }

    .iContainer{
        position: relative;
        min-width: 5em;
        min-height: 5em;
        border-radius: 50%;
    }

    i{
        left: 0; right: 0; top: 0; bottom: 0;
        position: absolute;
        margin: auto 0;
        font-size: 1.5em;
        height: 1em;
        color: white;
    }

    h2{
        font-size: 1.4em;
        margin-top: 1em;
    }

    .Spacer{
        content: "";
        background: $dark-1;
        width: 20%;
        min-height: 4px;
        margin-top: .75em;
        margin-bottom: .75em;
    }

    p{
        font-size: .8;
        max-width: 90%;
        overflow: hidden;
    }

    .readMore{
        display: block;
        width: 10em;
        margin: 0 auto;
        margin-top: auto;
        padding: .7em;
        font-size: 1.2em;
        border-radius: .2em;
        color: white;
    }


}
@media screen and (min-width: 768px){
    .productExtraHelp2{
        min-height: 22em;
    }
}

@media screen and (min-width: 992px) {
    .productPanel{
        min-height: 20em;
    }

    .productExtraHelp{
        min-height: 25em;
    }
}

@media screen and (min-width: 1200px) {
    .productPanel{
        min-height: 25em;
    }
}

@each $name, $color in $product-colors{
    .prod-#{$name}{
        .iContainer {
            background: $color;
        }

        .readMore{
            background: $color;
        }

        &:hover{
            background: $color;
            .Spacer{
                color: white
            }

            .iContainer{
                background: white;
                i{
                    color: $color;
                }
            }

            .readMore{
                color: $color;
                background: white;
            }
        }
    }
}